/* CONTAINERS */
.detail-overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(80px);
  transition: opacity 0.8s ease-out,
    transform 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1000;
}

.detail-overlay-container.is-visible {
  transform: translateY(0);
}

.block-container {
  all: unset;
  display: block;
  position: relative;
  width: fit-content;
  border-radius: 64px;
  background: transparent;
  box-shadow: -1px -1px 4px 0px rgba(255, 255, 255, 0.6) inset,
    1px 1px 4px 0px rgba(255, 255, 255, 0.8) inset,
    0px 4px 20px 0px rgba(0, 0, 0, 0.3);
}

button.block-container {
  cursor: pointer;
}

/* GLASS LAYERS */
.outer-ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 64px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  filter: url(#glass-distortion);
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    0% 100%,
    0% 0%,
    10px 6px,
    10px calc(100% - 6px),
    calc(100% - 10px) calc(100% - 6px),
    calc(100% - 10px) 6px,
    6px 6px
  );
}

.inner-core {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  border-radius: 64px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: -1px -1px 4px 0px rgba(255, 255, 255, 0.15) inset,
    1px 1px 4px 0px rgba(255, 255, 255, 0.2) inset;
  background: rgb(211 211 211 / 10%);
}

.inner-core2 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 64px;
  filter: url(#subtle-distortion);
  backdrop-filter: brightness(1);
}

/* CONTENT STRUCTURE */
.content {
  position: relative;
  display: flex;
  border-radius: 64px;
  justify-content: space-between;
  align-items: center;
  height: calc(100% + 2px);
}

.content_element {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 64px;
  font-weight: 600;
  gap: 6px;
  flex-direction: column;
  color: #373637;
  font-size: 12px;
  height: 100%;
  font-family: "Inter", sans-serif;
}

.content_element--active {
  color: #0363bf;
}

.content_element.content_element--active:before {
  content: "";
  background: rgb(0 0 0 / 10%);
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  position: absolute;
  border-radius: 64px;
  z-index: 0;
  transition: 0.2s ease-out;
}

.content_element.content_element--active:hover:before {
  background: rgb(0 0 0 / 15%);
}

.content_container {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  z-index: 1;
}

.content_container--lplace {
  flex-direction: row;
  gap: 12px;
}

.content_icon {
  width: 24px;
  height: 24px;
  background: #373637;
}

.content_icon--active {
  background: #0363bf;
}

/* ART BLOCK */
.art-block {
  width: 405px;
  height: 66px;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
}

.art-block .content {
  justify-content: center;
}

.art-block .content_element {
  font-family: "Unbounded", sans-serif;
  font-size: 34px;
  color: #0263bf;
  font-weight: 800;
}

.content_icon-art {
  background: unset;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='39' height='39' viewBox='0 0 39 39' fill='none'%3E%3Cg clip-path='url(%23clip0_20_5)'%3E%3Cpath d='M0 17.0959C0 12.2387 3.93832 8.30037 8.79663 8.30037C9.4655 8.30037 10.1165 8.37655 10.7414 8.51815C11.1473 4.03589 14.913 0.523682 19.5 0.523682C24.0881 0.523682 27.8539 4.03589 28.2585 8.51815C28.8846 8.37655 29.5356 8.30037 30.2033 8.30037C35.0617 8.30037 39 12.2387 39 17.0959C39 20.7212 36.8065 23.8347 33.6751 25.1808C34.4595 26.4971 34.9117 28.036 34.9117 29.6798C34.9117 34.5369 30.9734 38.4764 26.1151 38.4764C23.4776 38.4764 21.1127 37.3136 19.5 35.4748C17.8885 37.3136 15.5224 38.4764 12.8849 38.4764C8.02661 38.4764 4.0883 34.5369 4.0883 29.6798C4.0883 28.0361 4.54061 26.4972 5.32609 25.1808C2.19352 23.8346 0 20.7211 0 17.0959ZM19.5 28.3764C23.58 28.3764 26.8887 25.0701 26.8887 20.9877C26.8887 16.9077 23.5799 13.6003 19.5 13.6003C15.4201 13.6003 12.1125 16.9078 12.1125 20.9877C12.1125 25.0701 15.42 28.3764 19.5 28.3764Z' fill='%230263BF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_20_5'%3E%3Crect width='39' height='39' fill='white' transform='matrix(-1 0 0 1 39 0)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  width: 39px;
  height: 39px;
}

/* RETURN BLOCK */
.return-block {
  width: 252px;
  height: 98px;
  transform: translate(calc(-50% - var(--cube-width) - 80px), -50%);
  position: absolute;
  left: 50%;
  bottom: 0%;
}

.return-block .content {
  justify-content: center;
}

.return-block .content .content_element {
  width: 100%;
  font-size: 16px;
}

.content_icon--return {
  background: unset;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='31' viewBox='0 0 38 31' fill='none'%3E%3Cpath d='M18.9708 14.3877L31.9333 1.64169C32.8293 0.760713 34.278 0.760713 35.1644 1.64169L37.3185 3.75978C38.2145 4.64075 38.2145 6.06531 37.3185 6.93691L28.1399 15.981L37.328 25.0156C38.224 25.8966 38.224 27.3212 37.328 28.1928L35.174 30.3202C34.278 31.2012 32.8293 31.2012 31.9429 30.3202L18.9803 17.5742C18.0749 16.6932 18.0749 15.2687 18.9708 14.3877ZM0.670768 17.5742L13.6333 30.3202C14.5292 31.2012 15.978 31.2012 16.8644 30.3202L19.0185 28.2021C19.9144 27.3212 19.9144 25.8966 19.0185 25.025L9.83985 15.981L19.028 6.94628C19.9239 6.06531 19.9239 4.64075 19.028 3.76915L16.8739 1.64169C15.978 0.760713 14.5292 0.760713 13.6428 1.64169L0.680299 14.3877C-0.225172 15.2687 -0.225171 16.6932 0.670768 17.5742Z' fill='%230263BF'/%3E%3C/svg%3E");
  width: 38px;
  height: 30px;
}

/* LIKE BLOCK */
.like-block {
  width: 201px;
  height: 43px;
  justify-self: flex-end;
  margin-right: -50px;
  margin-bottom: 8px;
}

.like-block .content {
  justify-content: center;
}

.like-block .content_element {
  font-size: 18.5px;
}

.content_icon--like {
  background: unset;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19' fill='none'%3E%3Cg clip-path='url(%23clip0_20_42)'%3E%3Cpath d='M9.5 0.296875C4.41602 0.296875 0.296875 4.41602 0.296875 9.5C0.296875 14.584 4.41602 18.7031 9.5 18.7031C14.584 18.7031 18.7031 14.584 18.7031 9.5C18.7031 4.41602 14.584 0.296875 9.5 0.296875ZM12.4688 6.53125C13.1256 6.53125 13.6562 7.06191 13.6562 7.71875C13.6562 8.37559 13.1256 8.90625 12.4688 8.90625C11.8119 8.90625 11.2812 8.37559 11.2812 7.71875C11.2812 7.06191 11.8119 6.53125 12.4688 6.53125ZM6.53125 6.53125C7.18809 6.53125 7.71875 7.06191 7.71875 7.71875C7.71875 8.37559 7.18809 8.90625 6.53125 8.90625C5.87441 8.90625 5.34375 8.37559 5.34375 7.71875C5.34375 7.06191 5.87441 6.53125 6.53125 6.53125ZM13.7602 12.8473C12.7025 14.1164 11.1514 14.8438 9.5 14.8438C7.84863 14.8438 6.29746 14.1164 5.23984 12.8473C4.73516 12.2424 5.64805 11.4854 6.15273 12.0865C6.98398 13.0848 8.20117 13.6525 9.5 13.6525C10.7988 13.6525 12.016 13.0811 12.8473 12.0865C13.3445 11.4854 14.2611 12.2424 13.7602 12.8473Z' fill='%231E1D1E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_20_42'%3E%3Crect width='19' height='19' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  width: 19px;
  height: 19px;
}

/* POLL AND WRAPPER BLOCKS */
.poll-wrapper {
  width: 298px;
  height: 130px;
  display: grid;
  gap: 10px;
  transform: translate(
    calc(-50% + var(--cube-width) + 120px),
    calc(-50% - 30px)
  );
  position: absolute;
  left: 50%;
  top: 50%;
}

.poll-block {
  width: 255px;
  height: 73px;
  justify-self: flex-start;
}

.poll-block form.content {
  position: relative;
  display: flex;
  border-radius: 64px;
  justify-content: space-evenly;
  align-items: center;
  gap: 0;
  height: calc(100% + 2px);
}

.poll-block .content_element {
  flex-grow: 1;
}

.poll-block label,
.poll-block .content_icon {
  transition: 0.3s ease-out;
}

.block-container.poll-block input[type="radio"] {
  all: unset;
  position: absolute;
  display: block;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background: rgb(0 0 0 / 0);
  border-radius: 64px;
  transition: 0.3s ease-out;
}

.block-container.poll-block input[type="radio"]:checked {
  background: rgb(0 0 0 / 10%);
}

.block-container.poll-block input[type="radio"]:checked ~ label {
  color: #0363bf;
}

/* ===== YES/NO ICONS ===== */
.content_icon--yes {
  background: unset;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' viewBox='0 0 33 33' fill='none'%3E%3Cpath d='M18.304 4.75936C18.304 4.02299 17.7071 3.42603 16.9707 3.42603H15.6374C14.901 3.42603 14.304 4.02299 14.304 4.75936V14.7594H4.30404C3.56766 14.7594 2.9707 15.3563 2.9707 16.0927V17.426C2.9707 18.1624 3.56766 18.7594 4.30404 18.7594H14.304V28.7594C14.304 29.4958 14.901 30.0927 15.6374 30.0927H16.9707C17.7071 30.0927 18.304 29.4958 18.304 28.7594V18.7594H28.304C29.0404 18.7594 29.6374 18.1624 29.6374 17.426V16.0927C29.6374 15.3563 29.0404 14.7594 28.304 14.7594H18.304V4.75936Z' fill='%23373637'/%3E%3C/svg%3E");
  width: 33px;
  height: 33px;
}

.block-container.poll-block input[type="radio"]:checked ~ .content_icon--yes {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' viewBox='0 0 33 33' fill='none'%3E%3Cpath d='M18.304 4.75936C18.304 4.02299 17.7071 3.42603 16.9707 3.42603H15.6374C14.901 3.42603 14.304 4.02299 14.304 4.75936V14.7594H4.30404C3.56766 14.7594 2.9707 15.3563 2.9707 16.0927V17.426C2.9707 18.1624 3.56766 18.7594 4.30404 18.7594H14.304V28.7594C14.304 29.4958 14.901 30.0927 15.6374 30.0927H16.9707C17.7071 30.0927 18.304 29.4958 18.304 28.7594V18.7594H28.304C29.0404 18.7594 29.6374 18.1624 29.6374 17.426V16.0927C29.6374 15.3563 29.0404 14.7594 28.304 14.7594H18.304V4.75936Z' fill='%230263BF'/%3E%3C/svg%3E");
}

.content_icon--no {
  background: unset;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' viewBox='0 0 33 33' fill='none'%3E%3Cpath d='M27.1573 9.06419C27.7431 8.47837 27.7432 7.52856 27.1573 6.94271L26.0966 5.88197C25.5107 5.29612 24.5609 5.29615 23.9751 5.88197L16.0195 13.8375L8.06397 5.88197C7.47815 5.29615 6.52834 5.29612 5.94249 5.88197L4.88175 6.94271C4.2959 7.52856 4.29593 8.47837 4.88175 9.06419L12.8373 17.0198L4.88175 24.9753C4.2959 25.5612 4.2959 26.5109 4.88175 27.0968L5.94249 28.1575C6.52834 28.7434 7.47813 28.7434 8.06397 28.1575L16.0195 20.202L23.9751 28.1575C24.5609 28.7434 25.5107 28.7434 26.0966 28.1575L27.1573 27.0968C27.7432 26.5109 27.7432 25.5612 27.1573 24.9753L19.2018 17.0198L27.1573 9.06419Z' fill='%23373637'/%3E%3C/svg%3E");
  width: 33px;
  height: 33px;
}

.block-container.poll-block input[type="radio"]:checked ~ .content_icon--no {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' viewBox='0 0 33 33' fill='none'%3E%3Cpath d='M27.1573 9.06419C27.7431 8.47837 27.7432 7.52856 27.1573 6.94271L26.0966 5.88197C25.5107 5.29612 24.5609 5.29615 23.9751 5.88197L16.0195 13.8375L8.06397 5.88197C7.47815 5.29615 6.52834 5.29612 5.94249 5.88197L4.88175 6.94271C4.2959 7.52856 4.29593 8.47837 4.88175 9.06419L12.8373 17.0198L4.88175 24.9753C4.2959 25.5612 4.2959 26.5109 4.88175 27.0968L5.94249 28.1575C6.52834 28.7434 7.47813 28.7434 8.06397 28.1575L16.0195 20.202L23.9751 28.1575C24.5609 28.7434 25.5107 28.7434 26.0966 28.1575L27.1573 27.0968C27.7432 26.5109 27.7432 25.5612 27.1573 24.9753L19.2018 17.0198L27.1573 9.06419Z' fill='%230263BF'/%3E%3C/svg%3E");
}

/* SEND/VOTE BLOCK */
.sendfrom-block {
  all: unset;
  cursor: pointer;
  position: relative;
  width: fit-content;
  border-radius: 64px;
  background: transparent;
  transition: 0.2s ease-in;
  box-shadow: -1px -1px 4px 0px rgba(255, 255, 255, 0.6) inset,
    1px 1px 4px 0px rgba(255, 255, 255, 0.8) inset,
    0px 4px 20px 0px rgba(0, 0, 0, 0.3);
  width: 74px;
  height: 74px;
  justify-self: flex-end;
}

.sendfrom-block .content {
  justify-content: center;
}

.sendfrom-block .content_element.content_element--active {
  font-size: 16px;
  width: 78px;
  height: 78px;
  margin-left: 2px;
}

.sendfrom-block .content_container {
  gap: 3px;
}

.content_icon--vote {
  border-radius: 64px;
}

.poll-block {
  transition: opacity 0.2s ease-in;
}

.poll-block--voted {
  opacity: 0.6;
  pointer-events: none;
}

.sendfrom-block:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

@media screen and (max-width: 1537px) { /* 1536px is the effective width of a 1920px screen at 125% scaling, 1366px included */
  .poll-wrapper {
    transform: translate(
        calc(-50% + var(--cube-width) + 10px),
        calc(-50% - 50px)
      )
      scale(0.8);
  }
  .return-block {
    transform: translate(calc(-50% - var(--cube-width) + 20px), -50%) scale(0.8);
  }
  .art-block {
    transform: translate(-50%, -50%) scale(1);
  }
}
